ul:after {
    display:block;
    height:0;
    content:'';
    clear:both;
}

ul {
    background-color: #d3d3d3;
    padding: 10px;
    margin: 0;
}

li {
    list-style: none;
    width: 50px;
    height: 50px;
    background: yellow;
    text-align: center;
    line-height: 50px;
    border: black 1px inset;
}
li:nth-child(odd) {
    float: left;
    clear: right;
}

li:nth-child(even) {
    float: right;
}

li:nth-child(5), li:nth-child(9)  {
    float: right;
    clear: none;
}
li:nth-child(2), li:nth-child(10) {
    float: left;
}

p {
    margin: 0;
    padding: 5px;
    background: #add8e6;
}